#action-bar {
  display: flex;
  justify-content: center;
  margin-top: 2.5vmin;
  margin-bottom: 2.5vmin;

  div {
    background-color: white;
    font-size: 5vmin;
    width: 30vmin;
    padding-top: 1.5vmin;
    padding-bottom: 1.5vmin;
    text-align: center;
    border: 2px solid;
    cursor: pointer;
  }

  #pay-button {
    margin-right: 10vmin;
    color: red;
  }

  #pay-button:hover {
    color: white;
    border-color: red;
    background-color: red;
  }

  #req-button {
    margin-left: 10vmin;
    color: green;
  }

  #req-button:hover {
    color: white;
    border-color: green;
    background-color: green;
  }

}

#action-form {
  display: flex;
  justify-content: center;
  min-height: 8vmin;
  margin-top: 2vmin;
  margin-bottom: 2vmin;

  #form-buttons {
    display: flex;
    flex-direction: column;
    flex-grow: 0.5;
    min-width: 10vmin;
    font-size: 2.5vmin;
    cursor: pointer;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      border: 2px solid;
    }

    #submit {
      color: green;
    }

    #submit:hover {
      color: white;
      border-color: green;
      background-color: green;
    }

    #cancel {
      color: red;
    }

    #cancel:hover {
      color: white;
      border-color: red;
      background-color: red;
    }
  }

  form {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-grow: 2;
    padding: 1vmin;
    padding: 1vmin;
    border: 1px solid lightgrey;
    border-right-width: 0px;
    border-left-width: 0px; 

    div {
      display: flex;
      align-items: center;

      input {
        box-sizing: border-box;
        height: 4vmin;
        padding: 0.5vmin;
        width: 100%;
        font-size: 2vmin;
      }
    }

    .amount-box {
      width: 20%;
    }

    .name-box {
      width: 50%;
    }

    .date-box {
      width: 25%;
    }

  }
  
  #checkboxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-around;
    font-size: 2.5vmin;
    padding: 1vmin;
    padding-left: 4vmin;
    padding-right: 4vmin;
    border: 1px solid lightgrey;
    border-right-width: 0px;
    border-left-width: 0px; 

    div {
      display: flex;
      align-items: center;

      input {
        cursor: pointer;
      }
    }
  }

}