#action-bar {
  display: flex;
  justify-content: center;
/*  margin-top: 2.5vmin;
  margin-bottom: 2.5vmin;*/
  box-shadow: 0px 0px 3px 0px grey;

  div {
    display: flex;
    flex: 1 0 50vmin;
    justify-content: center;
    border: 1px solid grey;
    padding-top: 1.5vmin;
    padding-bottom: 1.5vmin;
    font-size: 3vmin;
    cursor: pointer;
  }

  div:hover {
    background-color: whitesmoke;
  }

  #pay-button {
    color: darkred;
    border-left-width: 0px;
    border-right-width: 0.5px;
  }

  #req-button {
    color: darkgreen;
    border-right-width: 0px;
    border-left-width: 0.5px;
  }
}

#action-form {
  display: flex;
  justify-content: center;
  min-height: 8vmin;
/*  margin-top: 2vmin;
  margin-bottom: 2vmin;*/

  #form-buttons {
    display: flex;
    flex-direction: column;
    flex-grow: 0.5;
    min-width: 10vmin;
    border: 1px solid lightgrey;
    border-right-width: 0px;
    border-left-width: 0px; 
    font-size: 2.5vmin;
    cursor: pointer;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      border: 2px solid;
    }

    #submit {
      color: green;
    }

    #submit:hover {
      color: white;
      border-color: green;
      background-color: green;
    }

    #cancel {
      color: red;
    }

    #cancel:hover {
      color: white;
      border-color: red;
      background-color: red;
    }
  }
  
  #checkboxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-around;
    font-size: 2.5vmin;
    padding: 1vmin;
    padding-left: 4vmin;
    padding-right: 4vmin;
    border: 1px solid lightgrey;
    border-right-width: 0px;
    border-left-width: 0px; 

    div {
      display: flex;
      align-items: center;

      input {
        cursor: pointer;
      }
    }
  }

  #flex-inputs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 2;
    padding: 1vmin;
    border: 1px solid lightgrey;
    border-right-width: 0px;
    border-left-width: 0px; 

    input {
      height: 4vmin;
      width: 100%;
      padding: 0.5vmin;
      font-size: 2vmin;
    }

    #name {
      flex: 1 0 50%;
      margin-left: 1vmin;
      margin-right: 1vmin;
    }

    #amount {
      flex: 1 0 20%;
    }

    #date {
      min-width: 19vmin;
      max-width: 19vmin;
    }
  }
  
}