@import 'reset';
@import 'action-bar';
@import 'dash';

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}

#root > div {
  height: 100%;
}

#root > div > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

